.DS_Store
Thumbs.db
*.log

vendor/
composer.lock

node_modules/
package-lock.json
yarn.lock
core/

/sites/*/private
/sites/*/settings.local.php

/sites/*/services.local.yml
/sites/*/development.services.yml
/sites/*/settings*.php~
/sites/*/settings*.bak

sites/*/files/php
sites/*/files/js
sites/*/files/css
sites/*/files/styles
sites/*/files/tmp
sites/*/files/.htaccess

*.bak
*.swp
*.orig

*.sql
*.sqlite

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Tests
phpunit.xml
phpunit.result.cache
/web/sites/simpletest

.env
.env.local
.env.*.local

web/core
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/

web/sites/default/files/2025-08
web/sites/default/files/js
web/sites/default/files/php
web/sites/default/files/css
web/sites/default/files/styles
